<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cloud</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>Servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerServlet</display-name>
    <servlet-name>ServerServlet</servlet-name>
    <servlet-class>Servlet.ServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerServlet</servlet-name>
    <url-pattern>/ServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDataServlet</display-name>
    <servlet-name>UploadDataServlet</servlet-name>
    <servlet-class>Servlet.UploadDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDataServlet</servlet-name>
    <url-pattern>/UploadDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>Servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncServerServlet</display-name>
    <servlet-name>EncServerServlet</servlet-name>
    <servlet-class>Servlet.EncServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncServerServlet</servlet-name>
    <url-pattern>/EncServerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>Servlet.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutServlet</display-name>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>Servlet.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFile</display-name>
    <servlet-name>MyFile</servlet-name>
    <servlet-class>Servlet.MyFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFile</servlet-name>
    <url-pattern>/MyFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreSharedKey</display-name>
    <servlet-name>StoreSharedKey</servlet-name>
    <servlet-class>Servlet.StoreSharedKey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreSharedKey</servlet-name>
    <url-pattern>/StoreSharedKey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KeyDistribution</display-name>
    <servlet-name>KeyDistribution</servlet-name>
    <servlet-class>Servlet.KeyDistribution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeyDistribution</servlet-name>
    <url-pattern>/KeyDistribution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateUploadFile</display-name>
    <servlet-name>GenerateUploadFile</servlet-name>
    <servlet-class>Servlet.GenerateUploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateUploadFile</servlet-name>
    <url-pattern>/GenerateUploadFile</url-pattern>
  </servlet-mapping>
</web-app>